.alice-carousel__next-btn,
.alice-carousel__prev-btn {
	background: linear-gradient(135deg, rgb(226, 163, 0) 0%, rgb(226, 149, 0) 100%);
	padding: 18px;
	border-radius: 50%;

	text-align: center;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}

.alice-carousel__next-btn:hover,
.alice-carousel__prev-btn:hover {
}

.alice-carousel__prev-btn {
	position: absolute;
	left: -16%;
	top: 45%;
	width: max-content;
	height: max-content;
	z-index: 3;
	max-width: 55px;
	max-height: 55px;
}

.alice-carousel__next-btn {
	position: absolute;
	right: -16%;
	top: 45%;
	width: max-content;
	height: max-content;
	max-width: 55px;
	max-height: 55px;
	z-index: 3;
}

@media (max-width: 991.98px) {
	.alice-carousel__next-btn {
		position: static;
		display: inline-block;
		max-width: 50%;
		width: 50%;
		background: none;
		text-align: left;
		padding: 15px 10px;
	}
	.alice-carousel__prev-btn {
		position: static;
		display: inline-block;
		width: 50%;
		max-width: 50%;
		background: none;
		text-align: right;
		padding: 20px;
	}
}
