.alice-carousel__next-btn,
.alice-carousel__prev-btn {
	background: linear-gradient(135deg, rgb(226, 163, 0) 0%, rgb(226, 149, 0) 100%);
	padding: 18px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	text-align: center;
	color: #fff;
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.alice-carousel__prev-btn {
	position: absolute;
	left: -17%;
	top: 45%;
	width: max-content;
	height: max-content;
	z-index: 3;
}

.alice-carousel__next-btn {
	position: absolute;
	right: -17%;
	top: 45%;
	width: max-content;
	height: max-content;
	z-index: 3;
}
